<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Sign Language Converter</h1>
    </header>
    <main>
        <div class="choice-container">
            <button id="choose-capture" class="btn">Predict Through Captured Image</button>
            <button id="choose-upload" class="btn">Predict Through Uploaded Image</button>
            <button id="choose-sign-words" class="btn">See Sign Of Words</button>
        </div>
        <section id="capture-section" class="hidden">
            <button id="start" class="btn">Start Camera</button>
            <button id="capture" class="btn">Capture Image</button>
            <button id="stop" class="btn">Stop Camera</button>
            <button id="speak" class="btn">Speak Text</button>
            <video id="video" autoplay></video>
            <p>Predicted Text: <span id="result-text"></span></p>
        </section>
        <section id="upload-section" class="hidden">
            <input type="file" id="imageUpload" accept="image/*">
            <button id="upload" class="btn">Upload Image</button>
            <button id="upload-speak" class="btn">Speak Text</button>
            <img id="uploaded-image">
            <p>Predicted Text: <span id="upload-result-text"></span></p>
        </section>
        <section id="sign-words-section" class="hidden">
            <p>Type a word to see the corresponding sign language:</p>
            <input type="text" id="word-input" placeholder="Enter a word">
            <div id="sign-output"></div>
        </section>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
